html, body { 
  background: black; 
  font-family: monospace;
  color: crimson;
  font-size: 12px; 
  height: 200vh; 
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Aligns content towards the top */
  line-height: 1.3;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

a { color: ivory; }

div {
  max-width: 500px;
  padding: 30px;
}

ul { list-style-type: "⨯ "; }

p {
  text-align: justify;
  text-justify: inter-character;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Start content at the top */
  align-items: center;
  min-height: 100vh; /* Make sure it takes the full viewport height */
  text-align: center;
  padding-top: 20px; /* Padding at the top to ensure it's not too low */
}

.header img {
  height: 10%;
  height: auto; 
  display: block; 
  margin: 0 auto;
  flex-shrink: 0;
}

.hell {
  color: crimson;
}

.scroll-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: crimson;
  border: 0px solid crimson;
  font-family: monospace;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.scroll-button:hover {
  background-color: crimson;
  color: black;
}
