html, body { 
    background: black; 
    margin-bottom: 10%; 
    font-family: monospace;
    color: crimson;
    font-size: 12px; 
    height: 100vh; /* Make sure the body takes full height */
    display: flex;
    justify-content: center; /* Center horizontally */
    line-height: 1.3;
  }
  
  a { color: ivory; }
  
  div {
    max-width: 500px;
    padding: 30px;
  }

  ul { list-style-type: "⨯ "; }

  p {
    text-align: justify;
    text-justify: inter-character;
  }

  .header {
    text-align: center;     
  }

  .hell {
    color: crimson;
  }